@media screen and (max-width: 480px) {
  .bodySection {
    font-size: 10px;
  }
}

.App {
  /* border: solid 1px black; */
}

nav {
  display: flex;
  justify-content: center;
}

.bodySection {
  background-image: url('./images/employeesChill.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 56vh;
  color: rgb(20, 137, 205);
  padding-left: 10px;
}

h1 {
  color: rgb(232, 87, 9);
}

h2 {
  display: flex;
  justify-content: center;
}

section {
  margin: 30px;
}